.User-set
  = render 'items/top_header'

  .User-set__MainlField
    = form_with model: @profile, url: profiles_path, local: true do |f|
      .User-set__MainlField__title
        = "会員情報登録"
      .User-set__MainlField__user-form
        .User-set__MainlField__user-form__name
          = f.label "氏　名", class: 'category'
          .User-set__MainlField__user-form__name__family
            = f.label "※必須", class: 'required'
            = f.text_field :family_name, class: 'text_field', placeholder: '姓_全角', size: 22
          .User-set__MainlField__user-form__name__first
            = f.text_field :first_name, class: 'text_field', placeholder: '名_全角', size: 22
        .User-set__MainlField__user-form__name_kana
          = f.label "フリガナ", class: 'category'
          .User-set__MainlField__user-form__name_kana__family
            = f.label "※必須", class: 'required'
            = f.text_field :family_name_kana, class: 'text_field', placeholder: 'セイ_全角', size: 22
          .User-set__MainlField__user-form__name_kana__first
            = f.text_field :first_name_kana, class: 'text_field', placeholder: 'メイ_全角', size: 22
        .User-set__MainlField__user-form__birth_date
          = f.label "誕生日", class: 'category'
          = f.label "※必須", class: 'required'
          = f.text_field :birth_date, class: 'text_field', placeholder: '例）20200101'
        -# .User-set__MainlField__user-form__creditcard_id
        -#   = link_to "クレジットカード 登録画面", '#', class: 'creditcard-new'
      .User-set__MainlField__Submit
        = f.submit " 次　へ ", class: 'NextButton'

  = render 'items/bottom_footer'
