.User-set
  = render 'items/top_header'

  .User-set__MainlField
    = form_with model: @destination, url: destinations_path, local: true, scope: :payment do |f|
      .User-set__MainlField__title
        = "商品送付先情報"
      .User-set__MainlField__user-form
      .User-set__MainlField__destination-form
        .User-set__MainlField__destination-form__name
          = f.label "氏　名", class: 'category'
          .User-set__MainlField__destination-form__name__family
            = f.label "※必須", class: 'required'
            = f.text_field :destination_family_name, class: 'text_field', placeholder: '姓_全角', size: 18
          .User-set__MainlField__destination-form__name__first
            = f.text_field :destination_first_name, class: 'text_field', placeholder: '名_全角', size: 18
        .User-set__MainlField__destination-form__name_kana
          = f.label "フリガナ", class: 'category'
          .User-set__MainlField__destination-form__name_kana__family
            = f.label "※必須", class: 'required'
            = f.text_field :destination_family_name_kana, class: 'text_field', placeholder: 'セイ_全角', size: 18
          .User-set__MainlField__destination-form__name_kana__first
            = f.text_field :destination_first_name_kana, class: 'text_field', placeholder: 'メイ_全角', size: 18
        .User-set__MainlField__destination-form__post_code
          = f.label "郵便番号", class: 'category'
          = f.label "※必須", class: 'required'
          = f.text_field :post_code, class: 'text_field', placeholder: '「ー」は省略'
        .User-set__MainlField__destination-form__prefecture
          = f.label "都道府県", class: 'category'
          = f.label "※必須", class: 'required'
          = f.text_field :prefecture, class: 'text_field', placeholder: '＊＊県'
        .User-set__MainlField__destination-form__city
          = f.label "市区町村", class: 'category'
          = f.label "※必須", class: 'required'
          = f.text_field :city, class: 'text_field', placeholder: '＊＊市＊＊区＊＊町'
        .User-set__MainlField__destination-form__address
          = f.label "番　地", class: 'category'
          = f.label "※必須", class: 'required'
          = f.text_field :address, class: 'text_field', placeholder: '〇〇ー〇〇ー〇〇'
        .User-set__MainlField__destination-form__building
          = f.label "マンション名 〇〇号室", class: 'category'
          = f.text_field :building, class: 'text_field', placeholder: '全角', size: 52
        .User-set__MainlField__destination-form__phone
          = f.label "電話番号", class: 'category'
          = f.text_field :phone, class: 'text_field', placeholder: '「ー」は省略', size: 52
      .User-set__MainlField__Submit
        = f.submit "   登　録   ", class: 'Button_UserButton'

  = render 'items/bottom_footer'
