.User-set
  = render 'items/top_header'

  .User-set__MainlField
    = form_with url: new_user_registration_path do |f|
      .User-set__MainlField__title
        = "ログインページ"
      .User-set__MainlField__user-form
        .User-set__MainlField__user-form__email
          = f.label "e-mail", class: 'category'
          = f.label "※必須", class: 'required'
          = f.email_field :content, class: 'text_field', placeholder: '＊＊＊@gmail.com', size: 46
        .User-set__MainlField__user-form__password
          = f.label "パスワード", class: 'category'
          = f.label "※必須", class: 'required'
          = f.password_field :content, class: 'text_field', placeholder: '半角英数7文字以上'
      .User-set__MainlField__Submit
        = f.submit "  ログイン  ", class: 'Button_UserButton'

  = render 'items/bottom_footer'