.Contents
  = form_with model: @item do |f|
    .ItemInfo
      .Contents__message
        出品情報入力
    .ItemInfo
      .ItemInfo__text
        商品画像
      .ItemInfo__text--require
        ※必須
      .ImageField
        = f.fields_for :item_images do |i|
          .ImageField__form
            = f.label :image do
              = icon('fas', 'camera', class: "ImageField__form--icon")
              = f.file_field :image, class: "ImageField__form--uploader"
              -# 実際に使うコード　= i.file_field :src,class: "ImageField__uploader"
          .ImageField__form
            = f.label :image do
              = icon('fas', 'camera', class: "ImageField__form--icon")
              = f.file_field :image, class: "ImageField__form--uploader"
          .ImageField__form
            = f.label :image do
              = icon('fas', 'camera', class: "ImageField__form--icon")
              = f.file_field :image, class: "ImageField__form--uploader"
          .ImageField__form
            = f.label :image do
              = icon('fas', 'camera', class: "ImageField__form--icon")
              = f.file_field :image, class: "ImageField__form--uploader"
    .ItemInfo  
      .ItemInfo__text
        商品名
      .ItemInfo__text--require
        ※必須
      .ItemInfo__name--form
        = f.text_field :name, placeholder: "(例)【新品】Adidas　Tシャツ", class: "formSize", id: "item_name"
    .ItemInfo
      .ItemInfo__text
        商品説明（1000文字以内）
      .ItemInfo__text--require
        ※必須
      .ItemInfo__detail--form
        = f.text_area :detail, maxlength: 1000, placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例：昨年購入しましたが、似たようなものを持っていたので、着用していません。", class: "formSize__textarea"
    .ItemInfo.CategoryField
      .ItemInfo__text
        カテゴリ
      .ItemInfo__text--require
        ※必須
      .ItemInfo__category--form
        = f.collection_select :category_id, @parents, :id, :name, {prompt: "選択してください"}, {class: "formSize", id: "category_form"}
    .ItemInfo
      .ItemInfo__text
        ブランド（任意）
      .ItemInfo__brand--form
        = f.text_field :name, placeholder: "(例)シャネル", class: "formSize", id: 'item_brand'
    .ItemInfo
      .ItemInfo__text
        商品の状態
      .ItemInfo__text--require
        ※必須
        -# 本来はactive_hashを使用しデータを取得。以下同じ。
      .ItemInfo__condition--form
      = f.collection_select :condition_id, Condition.all, :id, :status, {prompt: "選択してください"}, {class: "formSize", id: "condition_form"}
    .ItemInfo
      .ItemInfo__text
        配送料負担
      .ItemInfo__text--require
        ※必須
      .ItemInfo__shippingFee--form
      = f.collection_select :shippingFee_id, ShippingFee.all, :id, :status, {prompt: "選択してください"}, {class: "formSize", id: "shippingFee_id"}
    .ItemInfo
      .ItemInfo__text
        発送地
      .ItemInfo__text--require
        ※必須
      .ItemInfo__shippingfrom--form
      = f.collection_select :shippingFrom_id, ShippingFrom.all, :id, :name, {prompt: "選択してください"}, {class: "formSize", id: "shippingFrom_id"}
    .ItemInfo
      .ItemInfo__text
        出荷までの日数
      .ItemInfo__text--require
        ※必須
      .ItemInfo__operationDay--form
      = f.collection_select :preparationDay_id, PreparationDay.all, :id, :status, {prompt: "選択してください"}, {class: "formSize", id: "preparationDay_id"}
    .ItemInfo
      .ItemInfo__text
        価格(¥1〜9,999,999)
      .ItemInfo__text--require
        ※必須
      .ItemInfo__price--form 
      ¥
      = f.number_field :price, placeholder: "0", min: 1, max: 9999999, class: "formSize__price"
    .Button
      = f.submit "出品する", class: "Button__submit"