.PickupContainer
  .PickupContainer__title
    ピックアップカテゴリー
  .PickupContainer__box
  .PickupContainer__box__subtitle
    = link_to '新規投稿商品', '#' , class: 'subtitle'
    .PickupContainer__box__lists
      .PickupContainer__box__lists__list
<<<<<<< Updated upstream
        = image_tag asset_path ('pic.2018.halloween') 
=======
        = link_to (image_tag 'halloween.2017.png', class:'image_list', height:'170'),'#'
>>>>>>> Stashed changes
        .PickupContainer__box__lists__list__contents
          .PickupContainer__box__lists__list__contents--name
            名前
          .PickupContainer__box__lists__list__contents--price
            値段
          .PickupContainer__box__lists__list__contents--price--taxinclude
            （税込）
      .PickupContainer__box__lists__list
        = link_to (image_tag 'Pic.ARALE.png', class:'image_list', height:'170'),'#'
        .PickupContainer__box__lists__list__contents
          .PickupContainer__box__lists__list__contents--name
            名前
          .PickupContainer__box__lists__list__contents--price
            値段
            .PickupContainer__box__lists__list__contents--price--taxinclude
              （税込）
  .PickupContainer__title
    ピックアップブランド
  .PickupContainer__box
  .PickupContainer__box__subtitle
    = link_to 'アーカイバ', '#' , class: 'subtitle'
    .PickupContainer__box__lists
      .PickupContainer__box__lists__list
        = link_to (image_tag 'Pic.kuu_ohana.png', class:'image_list', height:'190'),'#'
        .PickupContainer__box__lists__list__contents
          .PickupContainer__box__lists__list__contents--name
            名前
          .PickupContainer__box__lists__list__contents--price
            値段
            .PickupContainer__box__lists__list__contents--price--taxinclude
              （税込）
      .PickupContainer__box__lists__list
        = link_to (image_tag 'Pic.cars.png', class:'image_list', height:'190'),'#'
        .PickupContainer__box__lists__list__contents
          .PickupContainer__box__lists__list__contents--name
            名前
          .PickupContainer__box__lists__list__contents--price
            値段
            .PickupContainer__box__lists__list__contents--price--taxinclude
              （税込）
      .PickupContainer__box__lists__list
        = link_to (image_tag 'Pic.2017_noel.png', class:'image_list', height:'190'),'#'
        .PickupContainer__box__lists__list__contents
          .PickupContainer__box__lists__list__contents--name
            名前
          .PickupContainer__box__lists__list__contents--price
            値段
            .PickupContainer__box__lists__list__contents--price--taxinclude
              （税込）


      
  