.Topblock
  .Header
    .Header__box
      .Header__box__main
        .Header__box__main__icon
          = image_tag src='/assets/material/logo/logo.png', height: '41', width: '140', class: 'title'
        .Header__box__main__searchbox
          .Header__box__main__searchbox__inputbox
            %input{type:'searchinput',class:'input_box__text',placeholder:'キーワードから探す'}
            %label{class: 'inputbox__icon'}
              = link_to image_tag(src='/assets/material/icon/icon-search1.png' , class: 'icon__search'), root_path

             
      .Header__box__action
        %ul.Header__box__action__lists
          %li.Header__box__action__lists__category
            = image_tag src='/assets/material/icon/icon_category.png', height: '12.5', width: '15' 
            カテゴリー
          %li.Header__box__action__lists__brand
            = image_tag src='/assets/material/icon/icon_brand.png', height: '12.5', width: '15'
            ブランド
        %ul.Header__box__action__user
          %li.Header__box__action__user__login
          ログイン
          %li.Header__box__action__user__new
          新規会員登録
  .Main_visual
    .Main_visual__body
      .Main_visual__body__main
      .Main_visual__body__main--top
        人生を変えるフリマアプリ
      .Main_visual__body__main--middle
        FURIMAはだれでもかんたんに出品・購入できる
        フリマアプリです
      .Main_visual__body__main--btn
        = image_tag src='/assets/material/logo/AnyConv.com__Download_on_the_App_Store_Badge_US-UK_blk_092917.png', class:'appbtn'
        = image_tag src='/assets/material/logo/google-play-badge (1).png' , class:'googlebtn' , width: '190'

  .Top_introduction
    .Top_introduction__box
      .Top_introduction__box--subtitle
        FURIMAが選ばれる3つの理由
      .Top_introduction__box--line
      %ul.Top_introduction__box__lists
        %li.Top_introduction__box__lists__one
          %span.number'1'
          =image_tag src='/assets/material/pict/pict-reason-01.jpg', class:'listone'
          .Top_introduction__box__lists__one--green
          '3分'
          %span.Top_introduction__box__lists__one--black
          ですぐに出品
          %p.Top_introduction__box__lists__one--text
          スマホで入力するだけで簡単に出品できる！

          %li.Top_introduction__box__lists__two
            %span.number'2'
          =image_tag src='/assets/material/pict/pict-reason-02.jpg', class:'listtwo'
          %span
          'シンプル'
          で使いやすい
          めんどくさい入力は必要なく、検索もスムーズ！
        %li.Top_introduction__box__lists__three
          %span.number'3'
          =image_tag src='/assets/material/pict/pict-reason-03.jpg', class:'listthree'
          手数料
          %span
          '業界最安’
          最大3%でお得に出品＆購入！