.hierarchy
  %ul.hierarchy__main
    %li.hierarchy__main__Furima
      = link_to 'FURIMA', "/", class: 'hierarchy-btn'
    %li.hierarchy__main__down-hierarchy
      >
    %li.hierarchy__main__Furima
      = link_to 'ベビー・キッズ', "#", class: 'hierarchy-btn'
    %li.hierarchy__main__down-hierarchy
      >
    %li.hierarchy__main__Furima
      = link_to 'ベビー服（男の子用）〜95cm', "#", class: 'hierarchy-btn'
    %li.hierarchy__main__down-hierarchy
      >
    %li.hierarchy__main__Furima
      = link_to 'アウター', "#", class: 'hierarchy-btn'
    %li.hierarchy__main__down-hierarchy
      >
    %li.hierarchy__main__Furima
      = link_to 'eee', "#", class: 'hierarchy-btn'