.Header
  = render 'top_header'

.Category-hierarchy
  = render 'top-hierarchy'

.Show-main
  .Main-block
    .Main-block__Item-ditail
      .Main-block__Item-ditail__Name
        = @item.name
      %ul.Main-block__Item-ditail__PictureBox
        %li.Main-block__Item-ditail__PictureBox__Main
          = image_tag @item.item_images.first.src.url, class: 'MainPicture'
          -if @item.buyer_id != nil
            .items-box_photo__sold
              .items-box_photo__sold__inner
                SOLD
        %ul.Main-block__Item-ditail__PictureBox__Sub
          %li.Main-block__Item-ditail__PictureBox__Sub__1
          - if @item.item_images.second.present?
            = image_tag @item.item_images.second.src.url, class: 'SubPicture'
          %li.Main-block__Item-ditail__PictureBox__Sub__2
          - if @item.item_images.third.present?
            = image_tag @item.item_images.third.src.url, class: 'SubPicture'
      .Main-block__Item-ditail__PriceBox
        .Main-block__Item-ditail__PriceBox__Price
          = @item.price
          円
        .Main-block__Item-ditail__PriceBox__Ditail
          (税込) 送料込み
    .Main-block__Item-coment
      .Main-block__Item-coment__ItemName
        = @item.name
      .Main-block__Item-coment__Table
        .Main-block__Item-coment__Table__Body
          .Main-block__Item-coment__Table__Body__Category
            出品者
          .Main-block__Item-coment__Table__Body__Coment
            = @item.user.nickname
        .Main-block__Item-coment__Table__Body
          .Main-block__Item-coment__Table__Body__Category
            カテゴリー
          %ul.Main-block__Item-coment__Table__Body__Coment
            %li.CategoryName__1
              = link_to @item.category.root.name, "#", class: 'CategoryName'
            %li.CategoryName__2
              = link_to @item.category.parent.name, "#", class: 'CategoryName'
            %li.CategoryName__3
              = link_to @item.category.name, "#", class: 'CategoryName'
        .Main-block__Item-coment__Table__Body
          .Main-block__Item-coment__Table__Body__Category
            ブランド
          .Main-block__Item-coment__Table__Body__Coment
            = @item.brand
        .Main-block__Item-coment__Table__Body
          .Main-block__Item-coment__Table__Body__Category
            商品のサイズ
          .Main-block__Item-coment__Table__Body__Coment
            
        .Main-block__Item-coment__Table__Body
          .Main-block__Item-coment__Table__Body__Category
            商品の状態
          .Main-block__Item-coment__Table__Body__Coment
            = @item.condition.attributes[:status]
        .Main-block__Item-coment__Table__Body
          .Main-block__Item-coment__Table__Body__Category
            配送料の負担
          .Main-block__Item-coment__Table__Body__Coment
            = @item.shipping_fee[:status]
        .Main-block__Item-coment__Table__Body
          .Main-block__Item-coment__Table__Body__Category
            発送元の地域
          .Main-block__Item-coment__Table__Body__Coment
            = link_to @item.shipping_from[:name], "#", class: 'CategoryName'
        .Main-block__Item-coment__Table__Body
          .Main-block__Item-coment__Table__Body__Category
            発送日の目安
          .Main-block__Item-coment__Table__Body__Coment
            = @item.preparation_day.status
      .Main-block__Item-coment__Icon
        .Main-block__Item-coment__Icon__Report
          .Main-block__Item-coment__Icon__Report__Icon
            = icon('fa', 'flag', class:"Flag-Icon")
            = "不適切な商品の通報"
            
    .Main-block__Items-link
      %ul.Main-block__Items-link__Block
        %li.Main-block__Items-link__Block__FrontItem
          = link_to '< 前の商品', "#", class: 'Item-btn'
        %li.Main-block__Items-link__Block__BackItem
          = link_to '後ろの商品 >', "#", class: 'Item-btn'

    .Main-block__contents
      - if user_signed_in? && current_user.id == @item.user_id
        .Main-block__contents__edit
          = link_to '商品の編集', edit_item_path(@item.id), class: 'edit'
      - if user_signed_in? && current_user.id == @item.user_id
        .Main-block__contents__delete
          = link_to '商品の削除', item_path(@item.id),method: :delete , class: 'delete'
      - elsif @item.buyer_id == nil
        .Main-block__contents__buy
          = link_to '商品の購入', item_purchase_index_path(@item.id), class: 'buy'
      - else user_signed_in? && current_user.id == @item.user_id
        .product-buy__btn__box
          売り切れました

    .Main-block__Related-items
      = link_to @item.category.root.name, "#", class: 'Related-btn'
      .PickupContainer__box__lists__list
        = link_to (image_tag 'pict-reason-02.jpg', class:'image_list', height:'150', width: '220'),'#'
        .PickupContainer__box__lists__list__contents
          .PickupContainer__box__lists__list__contents--name
            WWW
          .PickupContainer__box__lists__list__contents--price
            10000円
            .PickupContainer__box__lists__list__contents--price--taxinclude
              （税込）

.bottom_block
  = render 'bottom_block'

.bottom_footer
  = render 'bottom_footer'

.display
  = render "display_btn"